html, body {
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: 'Courier', monospace;  
  color: #FFF;
  font-size: 12pt;
  line-height: 10pt;
}

#asciiDiv {
  text-align: center;
  font-size: 6px;
  line-height: 6px;
  letter-spacing: 2px;
  white-space: pre;
  margin: 0 auto;
  max-width: 100%;
  overflow-x: hidden;
}

@media screen and (max-width: 600px) {
  #asciiDiv {
    font-size: 4px;  
  }
}